@model BankPaymentViewModel
<div id="form-group">
    <label asp-for="AccountNumber" class="control-label">Account Number</label>
    <input type="text" asp-for="AccountNumber" class="form-control" />
</div>

